@model LancheListViewModel
@{ViewData["Title"] = "lista de lanche";}


<div>
    <h2>@Model.CategoriaAtual</h2>
</div>
<div class="container">
<div class="row">

@foreach(var lanche in Model.Lanches)
    {
            @await Html.PartialAsync("_LanchesResumo", lanche)
    }

</div>
</div>