@using Projeto_Didatico_Lanches.Resources
@model IEnumerable<Projeto_Didatico_Lanches.Models.Lanche>

@{
    ViewData["Title"] = Resources.TITULO_LISTA_LANCHES;
}

<div><h2>@Resources.TESTE_RECURSO</h2></div>